POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database
POSTGRES_URL=postgresql://user:password@localhost:5432/database

JWT_KEY=jwt

REDIS_URL=localhost